.git
.github
.vscode
.idea
build
cmake-build-*
out
dist
docker-data
web/node_modules
web/.npm-cache
*.log
*.tmp
*.swp
*.swo
*.user
*.obj
*.pdb
*.ilk
*.ninja_deps
*.ninja_log
third-party/miniupnp/minissdpd
